@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.landing {
  height: 100vh;
  display: flex;
  background-color: #181228;
  color: antiquewhite;
  font-size: 40px;
  font-weight: bold;
  font-family: "Quicksand";
  padding: 60px 150px;
  justify-content: space-between;
} 
    
.txt1 {
  color: #f138a8;
  font-size: 16px;
  margin-top: 60px;
}
.txt2 {
  color: #f138a8;
  font-size: 16px;
  margin-top: 60px;
}
.txt3 {
  font-size: 14px;
  max-width: 450px;
  color: #5b5a79;
}

.phone {
  height: 80%;
  width: 20%;
  background-color: gray;
}

.intro {
  height: 100vh;
  background-color: #181228;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayflexJCAC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-main-container {
  height: 100vh;
  background-color: #181228;
}

.phone2 {
  height: 380px;
  width: 150px;
  background-color: gray;
  margin-top: 10vh;
}

.messenger {
  color: #e8ca3d;
  font-size: 16px;
  margin-top: 40px;
  text-align-last: center;
}
.onBoard {
  height: 100vh;
  background-color: #181228;
  margin-top: -33px;
  padding-top: 150px;
}

.boardTxt {
  color: #181228;
  font-size: 30px;
  text-align-last: center;
  font-family: "Quicksand";
}

.footer {
  height: 60vh;
  background-color: #181228;
  margin-top: -33px;
  padding-top: 150px;
}

.txtStyle {
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  font-family: "Quicksand";
}

.email {
  height: 30px;
  width: 300px;
  border-radius: 30px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5b5a79;
    justify-content: space-evenly;
    width: 40vw;
    margin-top: 30px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5b5a79;
    justify-content: space-evenly;
    margin-top: 30px;
    border-top: 1px solid white ;
}

@media screen and (min-width: 900px) { 
    .landing{
        flex-wrap: wrap;
    }
}